<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="12" [nzMd]="12" [nzLg]="10" [nzXl]="8" [nzXXl]="6" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="12" [nzMd]="12" [nzLg]="10" [nzXl]="8" [nzXXl]="6" [nzXs]="24" nzErrorTip="Please input your password!">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Update</button>
        </nz-form-control>
      </nz-form-item>
</form>